<% if logged_in? %>

<a id="click-form" href="/entries/new" class="block button w-100 mar-t-2 mar-b-3 pad-2 round-1 text-c center">Write about Broccoli</a>
<% end %>
<main role="main">
  <ul class="entries-list no-bullets no-padding">
    <% @entries.each do |entry| %>
     <%= erb :'/entries/_new_entry', locals: {entry: entry} %>
    <% end %>
  </ul>
</main>





